<!-- File:portfolio\templates\intro.html -->


<!-- Call the master.html template -->
{% extends "master.html" %}

<!-- load static -->
{% load static %}



<!-- Block: title -->
{% block title %}{{ person.last_name }}{% endblock title %}

<!-- Block: body -->
{% block body %}

  <main class="main">

    <!-- Hero Section -->
    <section id="home" class="hero section dark-background">

      <img src="{{ person.banner_image.url }}" alt="Banner Image" data-aos="fade-in">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>{{ person.first_name }} {{ person.last_name }}<br></h2>
        <p>I'm <span class="typed" data-typed-items="{{ person.tag_items|join:', ' }}"></span></p>
        <div class="social-links">
          <a target="_blank" href="{{ person.linkedin }}"><i class="bi bi-linkedin"></i></a>
          <a target="_blank" href="{{ person.github }}"><i class="bi bi-github"></i></a>
          <a target="_blank" href="{{ person.portfolio }}"><i class="bi bi-person-fill"></i></a>
        </div>
      </div>

    </section><!-- /Hero Section -->



    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>

      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-between">
          <div class="col-lg-4 profile-img align-self-start">
            <img src="{{ person.profile_image.url }}" class="img-fluid" alt="profile Picture">
          </div>
          <div class="col-lg-7 content">
            <h3>{{ person.tag_line }}</h3>
            <p>
              {{ person.about|linebreaksbr }}
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->



    <!-- Skills Section -->
    <section id="skills" class="skills section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
      </div><!-- End Section Title -->

      <!-- Skills body -->
      <div class="container skill-body">
        <div class="skill-body justify-content-center align-items-center row row-cols-auto">

          <div class="skill-category col">
              <h4 class="title">Industry Knowledge</h4>

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Brand Identity</span>
                      <span>80%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 80%"></div>
                  </div>
              </div> <!-- End skill-item -->

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Product Design</span>
                      <span>95%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 95%"></div>
                  </div>
              </div> <!-- End skill-item -->

          </div> <!-- End skill-category -->

          <div class="skill-category col">
              <h4 class="title">Basic</h4>

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Thre ldfn</span>
                      <span>65%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 65%"></div>
                  </div>
              </div> <!-- End skill-item -->

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Marketing</span>
                      <span>40%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 40%"></div>
                  </div>
              </div> <!-- End skill-item -->

          </div> <!-- End skill-category -->

          <div class="skill-category col">
              <h4 class="title">Others</h4>

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Gosip</span>
                      <span>95%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 95%"></div>
                  </div>
              </div> <!-- End skill-item -->

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Football</span>
                      <span>20%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 20%"></div>
                  </div>
              </div> <!-- End skill-item -->

          </div> <!-- End skill-category -->

          <div class="skill-category col">
              <h4 class="title">Others</h4>

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Gosip</span>
                      <span>95%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 95%"></div>
                  </div>
              </div> <!-- End skill-item -->

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Football</span>
                      <span>20%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 20%"></div>
                  </div>
              </div> <!-- End skill-item -->

          </div> <!-- End skill-category -->

          <div class="skill-category col">
              <h4 class="title">Others</h4>

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Gosip</span>
                      <span>95%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 95%"></div>
                  </div>
              </div> <!-- End skill-item -->

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Football</span>
                      <span>20%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 20%"></div>
                  </div>
              </div> <!-- End skill-item -->

          </div> <!-- End skill-category -->

          <div class="skill-category col">
              <h4 class="title">Others</h4>

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Gosip</span>
                      <span>95%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 95%"></div>
                  </div>
              </div> <!-- End skill-item -->

              <div class="skill-item">
                  <div class="skill-name">
                      <span>Football</span>
                      <span>20%</span>
                  </div>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: 20%"></div>
                  </div>
              </div> <!-- End skill-item -->

          </div> <!-- End skill-category -->
        
        </div> <!-- End row -->

      </div>


      
    </section><!-- /skills Section -->



    <!-- projects Section -->
    <section id="projects" class="projects section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="isotope-layout" data-default-filter=".filter-featured" data-layout="masonry" data-sort="original-order">

          <ul class="projects-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter=".filter-featured" class="filter-active">Featured</li>
            <li data-filter="*">All</li>
            {% for category in  projects_used_categories %}
              <li data-filter=".filter-{{category.slug|slugify}}">{{category.name}} ({{category.occurrence}})</li>
            {% endfor %}

          </ul><!-- End projects Filters -->

          <!-- Projects Container -->
          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <!-- Loop through projects -->
            {% for project in projects %}
              <div class="col-lg-4 col-md-6 projects-item isotope-item
                {% comment %}
                 Add all project's category and featured (if true) as filter class
                {% endcomment %}
                {% if project.is_featured %}
                 filter-featured
                {% endif %}
                 
                {% for category in project.categories.all %}
                 filter-{{ category.slug|slugify }}
                {% endfor %}
              ">

                <!-- Project Item -->

                <!-- Project Image -->
                <div class="projects-content h-100">
                  <img src="
                    {% comment %}
                     Check if project has an image, otherwise use default image
                    {% endcomment %}
                    {% if project.image_path %}
                      {{ project.image_path.url }}
                    {% else %}
                      {% static "portfolio/img/project/project_default_img.jpg" %}
                    {% endif %}
                  " class="img-fluid" alt="">

                  <!-- Project Info -->
                  <div class="projects-info">

                    <h4>{{ project.title }}</h4>

                    <p>
                      {{project.tag_line}}<br>
                      || {{project.categories.all|join:" || "}} ||<br>
                    </p>
                    
                    <a href="
                      {% comment %}
                       Check if project has an image, otherwise use default image
                      {% endcomment %}
                      {% if project.image_path %}
                        {{ project.image_path.url }}
                      {% else %}
                        {% static "portfolio/img/project/project_default_img.jpg" %}
                      {% endif %}

                    " title="{{ project.title }}" data-gallery="
                      {% comment %}
                      Add all project's category as gallery class
                      {% endcomment %}
                      {% for category in project.categories.all %}
                        projects-gallery-{{ category.slug|slugify }}
                      {% endfor %}
                    " class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    
                    <a target="_blank" href="projects-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>

                    {% if project.github_link %}
                      <a target="_blank" href="{{project.github_link}}" title="GitHub Repository" class="github-link"><i class="fa-brands fa-github"></i></a>
                    {% endif %}

                    {% if project.live_link %}
                      <a target="_blank" href="{{project.live_link}}" title="Live Preview" class="live-link"><i class="fa-solid fa-play"></i></a>
                    {% endif %}

                  </div>
                </div>
              </div><!-- End projects Item -->
            {% endfor %}

          </div><!-- End projects Container -->
        </div>
      </div>

    </section><!-- /projects Section -->

    

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <!-- Service Items -->
           {% for service in services %}
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">

            <!-- Service icon -->
              <div class="icon flex-shrink-0">
                <i class="
                  {% if service.icon_class %}
                    {{ service.icon_class }}
                  {% else %}
                    bi bi-briefcase
                  {% endif %}
                "></i>
              </div>

            <!-- Service content -->
              <div>
                <h4 class="title">{{ service.title }}</h4>
                <p class="description">{{ service.description |linebreaksbr }}</p>

              </div>
            </div>
            <!-- End Service Item -->

          {% endfor %}

        </div>

      </div>

    </section><!-- /Services Section -->



    <!-- certifications Section -->
    <section id="certifications" class="certifications section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Certifications</h2>
      </div><!-- End Section Title -->
      

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            {% for certificate in certifications %}
              <div id="cer-{{certificate.id}}" class="swiper-slide">
                <div class="certification-item">
                  <h3>{{ certificate.title }}</h3>
                  <h4>{{ certificate.organization }}</h4>

                  {% if certificate.issue_date %}
                    <h4>Issued on: {{ certificate.issue_date }}</h4>
                  {% endif %}

                  <div class="rounded-certificate">
                    <img src="{{ certificate.certificate_image.url }}" alt="Certificate Image" class="img-fluid">
                  </div>
                </div>
              </div><!-- End certification item -->
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /certifications Section -->





    <!-- Educations Section -->
    <section id="educations" class="educations section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Educations</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <!-- Educations body -->
          {% for education in educations %}
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="educations-item featured">
                <div class="logos">
                  {% if education.institution_logo %}
                    <img class="institution-logo img-fluid" src="{{ education.institution_logo.url }}" alt="Institution Logo">
                  {% endif %}
                  {% if education.department_logo %}
                    <img class="department-logo img-fluid" src="{{ education.department_logo.url }}" alt="Department Logo">
                  {% endif %}
                </div>

                <p class="duration">{{ education.start_date|date:"F, Y" }} - 
                  {% if education.end_date %}
                    {{ education.end_date|date:"F, Y" }}
                  {% else %}
                    Present
                  {% endif %}
                </p>

                <h3 class="mt-3">{{ education.degree }}</h3>

                <p class="institution"><b>Institution:</b> {{ education.institution }}</p>
                <p class="department mt-0"><b>Department:</b> {{ education.department }}</p>
                
                <p class="small"><b>GPA/CGPA:</b> {{ education.grade }} (Out of {{ education.grade_standard }}) </p>

                {% if education.certificate %}
                  <a href="#cer-{{education.certificate.id}}" class="cta-btn">See the certification</a>
                {% endif %}

              </div>
            </div><!-- End educations Item -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /educations Section -->



    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Please feel free to reach out if you have any questions, need clarification, or would like to share any suggestions. Your input is valuable to me.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-5">

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call<br></h3>
                  <p>+1 5589 55488 55</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>info@example.com</p>
                </div>
              </div>
            </div><!-- End Info Item -->

          </div>
        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->


  </main>
  
{% endblock body %}
