<!-- File:portfolio\templates\?.html -->

<!-- load master template -->
{% extends "master.html" %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %}Project Details{% endblock title %}

<!-- body -->
{% block body %}

    <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Project Details</h1>
        <h2>{{project.title}}</h2>
        <p>{{project.tag_line}}</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{previous_page}}">Home</a></li>
            <li><a href="{{previous_page}}#projects">Project</a></li>
            <li class="current">Project Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Project Details Section -->
    <section id="project-details" class="project-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="technology-box">
              <h4>Technologies</h4>
              <div class="technology-list">
                <ul>
                  {% for technology in project.categories.all%}
                    <li>{{technology}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div><!-- End projects List -->

            {% if project.github_link or project.live_link %}
              <div class="technology-box">
                <h4>Links</h4>
                <div class="link-catalog">
                  {% if project.github_link %}
                    <a href="{{project.github_link}}" target="_blank"><i class="bi bi-github"></i><span>GitHub</span></a>
                  {% endif %}
                  {% if project.live_link %}
                    <a href="{{project.live_link}}" target="_blank"><i class="bi bi-globe2"></i><span>Live Demo</span></a>
                  {% endif %}
                </div>
              </div><!-- End projects List -->
            {% endif %}

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Have a Question?</h4>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <a href="tel:{{project.user_phone}}">{{project.user_phone}}</a></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:{{project.user_email}}">{{project.user_email}}</a></p>
            </div>

          </div>

          <div class="project-description col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="
                    {% if project.image_path %}
                      {{ project.image_path.url }}
                    {% else %}
                      {% static "portfolio/img/project/project_default_img.jpg" %}
                    {% endif %}
                  " alt="Project image" class="img-fluid projects-img">

            <h3>{{project.title}}</h3>
            <h4>{{project.tag_line}}</h4>
            <p>{{project.description|linebreaksbr}}</p>
          </div>

        </div>

      </div>

    </section><!-- /project Details Section -->

  </main>

{% endblock body %}
